/My project (2)/[Ll]ibrary/
/My project (2)/[Tt]emp/
/My project (2)/[Oo]bj/
/My project (2)/[Bb]uild/
/My project (2)/[Bb]uilds/
/My project (2)/[Ll]ogs/
/My project (2)/[Uu]ser[Ss]ettings/
/My project (2)/[Mm]emoryCaptures/
/My project (2)/[Rr]ecordings/
/My project (2)/.vs/
/My project (2)/.idea/
/My project (2)/*.csproj
/My project (2)/*.sln
/My project (2)/*.slnx
/My project (2)/*.user
/My project (2)/*.suo
/My project (2)/*.tmp
/My project (2)/*.pidb
/My project (2)/*.pdb
/My project (2)/*.mdb
/My project (2)/*.opendb
/My project (2)/*.VC.db